.top {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15px;
  text-align: center;
  /* border-bottom: solid rgb(104, 104, 104) 1px; */
  /* box-shadow: 0px 5px 8px 2px #e8e8e8; */
}

.title {
  color: #363535d2;
  font-weight: 250;
  font-size: 55px;
  /* line-height: 80px; */
  padding-top: 50px;
}

.songDiv {
  background-color: whitesmoke;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border: none;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.buttonDiv {
  background: linear-gradient(#f5f7fa, #b8c6db);
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
