.songDiv{
  background-color: rgb(253, 253, 253);
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border: none;
}

.buttonDiv{
  background-color: white;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
