.top {
  /* background: linear-gradient(#F5F7FA, #B8C6DB); */
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  text-align: center;
  border-radius: 2em;
  opacity: 75%;
}

.h1Home {
  color: #000000d2;
  font-weight: 250;
  font-size: 85px;
  line-height: 80px;
  padding-top: 0px;
  margin-bottom: -10px;
}

.h2Home {
  color: #0000009f;
  font-weight: 200;
  font-size: 30px;
}

.bottom {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.button {
  width: 150px;
  height: 65px;
  background-color: #266b7e;
  display: flex;
  justify-content: center;
  border-radius: 28px;
  transition-duration: 0.6s;
  border-radius: 2em;
}

.buttonIcon {
  width: 20px;
  height: 68px;
  margin-right: 6px;
  color: rgb(255, 255, 255);
  font-size: 90px;
  transition-duration: 0.6s;
  border-radius: 2em;
}

.buttonh3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: 400;
  transition-duration: 0.6s;
}

.button:hover {
  background-color: #03888f;
  cursor: pointer;
}
