.top{
  background: rgb(255, 255, 255);
  display: flex;
  /* justify-content: space-evenly;
  align-items: center; */
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: center;
  height: 200px;
  text-align: center;
}

.h1Home{
  color: #000000d2;
  font-weight: 250;
  font-size: 85px;
  line-height: 80px;
  padding-top: 120px;
  margin-bottom: -10px;
  
}

.h2Home{
  color: #0000009f;
  font-weight: 200;
  font-size: 30px;
  /* margin-top: -10px; */
  /* line-height: 80px; */
}

.bottom{
 display: flex;
 justify-content: center;
 /* align-items: center; */
}

.button{
  width: 120px;
  height: 100px;
 background-color: #266B7E;
 display: flex;
 justify-content: center;
 
 }

 .buttonIcon{
  width: 20px;
height: 100px;
 background-color: #000000;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

 }

 .buttonh3{
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 }